<h1>Project Name: <%= @project.title %></h1>

<h3>Project Volunteers</h3>

<% if @project.volunteers %>
  <ul>
  <% @project.volunteers.each do |volunteer|%>
    <li><a href="/projects/<%= @project.id %>/volunteers/<%= volunteer.name%>"><%= volunteer.name %></a> </li>
  <% end %>
  </ul>
  <% else %>
  <p>There are no volunteers assigned to this project yet!</p>
<% end %>

<h2>Add a project:</h2>

<form action="/projects/<%= @project.id %>/volunteers" method="post">
  <div class="form-group">
    <label for="volunteer_name"> Volunteer Name</label>
    <input id="volunteer_name" name="volunteer_name" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Add Volunteer</button>
</form>

<p><a href="/projects/<%= @project.id %>/edit">Edit Project</a></p>
<p><a href="/">Return to Project List</a></p>